<section class="preparation">
        <h1>PREPARER LE JEU</h1>
        <h2> 1 - Créez votre équipe </h2>
        <!-- <p> <a href="/salon" data-link="/salon"> rejoindre un salon existant </a> </p> -->
        <article>
            <div>
                <h3>1 - Merci d’indiquer un nombre de joueurs</h3>
                <p>Le jeu est prévu pour être jouable par des équipes de 3 à 10 personnes.
                    Merci de sélectionner un chiffre dans cet écart.</p>
                <input type="number" name="number" id="valeurjoueur" Value="3" min="3" max="10" style="padding: 30px 15px; font-size: 1.5em;">
            </div>
            <div>
                <h3> 2 - Donnez un pseudo et un statut aux membres de l’équipe</h3>
                <p>Renseignez les informations sur votre équipe. Nous avons attribué des pseudo par défaut mais vous
                    pouvez les modifier à votre guise. Votre équipe aura un scrum master, un product owner et des
                    développeurs.</p>
                <form action="" method="post" id="formJoueur">
                    
                </form> 
                <!-- <a href="/etape2"data-link="/etape2 ">
                    <input type="submit" value="Passez a l'Etape Suivante"class="lienformulaire">
                </a> -->
            </div>
        </article>


</section>